{# <section class="feature">
  <div class="container">
    <div class="row">
      <h1 class="text-center w-100 ">Featured deals</h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <img src="images/Layer-22-copy.png" class="img-fluid float-left">
          </div>
          <div class="col-md-8 col-sm-8 ">
            <p class="border-top-0 border-left-0 border-bottom-0 border">Ipsum dolor onsadipi scing elite mauris urna adipi scing elite mauris urna tincidunt scing elite mauris urna...</p>
            <button type="btn" class="btn btn-link text-red"> View Deal</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <img src="images/Layer-22-copy.png" class="img-fluid">
          </div>
          <div class="col-md-8 col-sm-8">
            <p>Ipsum dolor onsadipi scing elite mauris urna adipi scing elite mauris urna tincidunt scing elite mauris urna...</p>
            <button type="btn" class="btn btn-link text-red"> View Deal</button>
          </div>
        </div>
      </div>
    </div>
    <button type="btn" class="more">see more</button>
  </div>
</section> #}


{{ pge.sidebar_first }}

{{ page.content}}

